@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  /* Center the content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full viewport height */
}

h1 {
  margin-bottom: 12px;
}

h3 {
  margin-bottom: 12px;
}

.card {
  max-width: 500px; /* Use max-width for responsiveness */
  width: 100%; /* Ensure the card takes the full width on small screens */
  margin: 40px;
  border: 4px solid #222;
  overflow: hidden; /* Prevent content overflow */
  background-color: #fff; /* Set a background color for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.card::after {
  content: "";
  display: block;
  clear: both; /* Clear the floats inside the card */
}

.avatar {
  width: 100%;
  display: block;
}

.data {
  padding: 32px;
  padding-top: 24px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
